.colorboxes {
  width: 20%;
  height: 25%;
  margin: 0 auto;
  display: inline-block;
  position: relative;
  cursor: pointer;
}

.copy-button {
  width: 100px;
  height: 30px;
  position: absolute;
  display: inline-block;
  top: 50%;
  left: 50%;
  margin-left: -50px;
  margin-top: -15px;
  text-align: center;
  outline: none;
  background-color: rgba(255, 255, 255, 0.3);
  font-size: 1rem;
  line-height: 30px;
  color: white;
  text-transform: uppercase;
  border: none;
  opacity: 0;
}

.colorboxes:hover .copy-button {
  opacity: 1;
  transition: 0.5s;
}

.box-content {
  width: 100%;
  position: absolute;
  padding: 10px;
  left: 0px;
  bottom: 0px;
  color: black;
  text-align: left;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 12px;
}

.see-more {
  width: 60px;
  height: 30px;
  right: 0px;
  bottom: 0px;
  position: absolute;
  text-align: center;
  background-color: rgb(255, 255, 255, 0.3);
  color: white;
  letter-spacing: 1px;
  border: none;
  text-transform: uppercase;
}

/* .copy-overlay {
  opacity: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
  transition: transform 0.6s ease-in-out;
  transform: scale(0.1);
}
.copy-overlay.hover {
  opacity: 1;
  transform: scale(7);
  z-index: 10;
  position: absolute;
} */
